.form-group{
    margin-top: 10px;
    padding: 10px;
}

.row
{
margin-bottom: 40px;
}

.pergunta
{
    line-height:30px;
    background-color: rgb(207, 227, 202);
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle ;
    font-size: larger;
}

.divresp
{
    margin-top: 10px;
    margin-left: 30px !important;
}

.imgResp{
    width: 100px;
}

@media screen and (max-width: 800px) {
    .divresp
    {
        margin-top: 10px;
        margin-left: 10px !important;
    }
}