<p-toast></p-toast>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="tituloCadastro">QUIZ</div>
<div class="card">
    <p-table responsiveLayout="scroll" #dt [value]="Quizes" [rows]="10" [paginator]="true" 
        [rowHover]="true" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="QuizIdf">Idf <p-sortIcon field="QuizIdf"></p-sortIcon></th>
                <th pSortableColumn="QuizPergunta">Pergunta <p-sortIcon field="QuizPergunta"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-Quiz>
            <tr class="listaSystem" *ngIf="Quiz.QuizLiberado == 'S'">
                <td>{{Quiz.QuizIdf}}</td>
                <td>{{Quiz.QuizPergunta}}</td>
                <td>
                    <button pButton pRipple icon="fa fa-hand-pointer-o" class="p-button-rounded p-button-danger" 
                    (click)="responder(Quiz)" title="Já respondido" *ngIf="Quiz.JaRepondeu"></button>
                    <button pButton pRipple icon="fa fa-hand-pointer-o" class="p-button-rounded p-button-success" 
                    (click)="responder(Quiz)" title="Responder" *ngIf="!Quiz.JaRepondeu"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog [style]="{width: '450px'}" translate="yes">
</p-confirmDialog>