<nav class="topo navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="row">
        <a class="navbar-brand" (click)="onMenuCollapse()" title="logout">
            <i class="minDisplay fas fa-bars">&nbsp;</i>
        </a> 
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">
            <span class="maxDisplay">Associação Yamazaki de Judô</span>
            <span class="minDisplay">AYJudô</span>
        </a>
        <ul class="nav right-section navbar-nav">
            <li *ngIf="!isAuthenticated">
                <a routerLink="auth" routerLinkActive="active" class="nav-link" title="login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                </a>
            </li>
            <li *ngIf="isAuthenticated">
                <a style="cursor: pointer; padding: 5px; align-items: right;" (click)="onLogout()" title="logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>                
                <div class="maxDisplay" style="color: white;">
                    {{userEmail}}
                </div>
            </li>
        </ul>
    </div>
</nav>

<menu class="menuLateral" [ngClass]="class"></menu>

