.navbar-brand { margin-left: 20px; }

.right-section {
    position: absolute;
    right: 20px;
}

li .active {
    background-color: rgb(51, 51, 51);
}

.fa { color: #fff; }

li a:hover {
    background-color: #54483d;
    color: #b64f0b;
}

.maxDisplay{
    display: block;
}

.minDisplay{
    display: none;
}

@media screen and (max-width: 800px) {
    .listaSystem td {
         white-space: nowrap;
         display: table-cell !important;
     }
 
     .listaSystem button {
         display: inline-block;
     }
 
     .editButtonSystem {
         display: flex;
     }

     .maxDisplay{
        display: none;
    }
    
    .minDisplay{
        display: block;
    }
  } 