<p-toast></p-toast>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<form [formGroup]="dadosForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <div class="form-group">
        <div class="tituloCadastro">CADASTRO DE RESPOSTAS CARD - GAMEBOARD</div>
        <div class="subTituloCadastro">{{Questao}}</div>
        <div><em>*</em> Campo obrigatório</div> 
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <label for="correto">Resposta certa</label>
                <p-inputSwitch trueValue="S" falseValue="N" class="form-control transparente" formControlName="correto" id="correto" ></p-inputSwitch>
            </div>
            <div class="col-lg-12 col-md-12">
                <label for="respostatxt">Resposta TXT</label>
                <input type="text" class="form-control" formControlName="respostatxt" id="respostatxt" pInputText>
            </div>
            <div class="col-lg-6 col-md-6">
                <label for="respostaurl">Resposta URL</label>
                <input type="text" class="form-control" formControlName="respostaurl" id="respostaurl" pInputText>
            </div>
            <div class="col-lg-6 col-md-6">
                <label for="imgnom">Nome Imagem</label>
                <input type="text" class="form-control" formControlName="imgnom" id="imgnom" pInputText>
            </div>
        </div>
        <div class="row editButtonSystem">            
            <div class="floatLeft col-sm-1">
                <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!dadosForm.valid" *ngIf="!editMode">Salvar</button>
                <button
                  type="submit"
                  class="floatLeft btn btn-success"
                  [disabled]="!dadosForm.valid" *ngIf="editMode">Alterar</button>
            </div>       
            <div class="floatLeft col-sm-1">
                <button
                type="button"
                class="btn btn-danger"
                (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
  </form>