<p-toast></p-toast>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="tituloCadastro">CADASTRO DE RESPOSTAS CARDS - GAMEBOARD</div>
<div class="subTituloCadastro">{{Questao}}</div>
<div class="card" *ngIf="!isLoading">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nova RESPOSTA" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Retonnar" icon="pi pi-undo" class="p-button-success p-mr-2" (click)="retornar()"></button>
        </ng-template>        
    </p-toolbar>
    <p-table responsiveLayout="scroll" #dt [value]="Judocards" [rows]="20" [paginator]="true" 
        [rowHover]="true" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Idf">Seq <p-sortIcon field="Idf"></p-sortIcon></th>
                <th pSortableColumn="Correto">Correto <p-sortIcon field="Correto"></p-sortIcon></th>
                <th pSortableColumn="RespostaTxt">Resposta TXT <p-sortIcon field="RepostaTxt"></p-sortIcon></th>
                <th pSortableColumn="RespostaUrl">Resposta URL <p-sortIcon field="RespostaUrl"></p-sortIcon></th>
                <th pSortableColumn="ImgNom">Img Nome <p-sortIcon field="ImgNom"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-Judocard>
            <tr class="listaSystem">
                <td>{{Judocard.IdfSeq}}</td>                
                <td>{{Judocard.Correto}}</td>                
                <td>{{Judocard.RespostaTxt}}</td>                
                <td>{{Judocard.RespostaUrl}}</td>                
                <td>{{Judocard.ImgNom}}</td>                
                <td>
                    <button pButton pRipple icon="fas fa-edit" class="p-button-rounded p-button-success" (click)="editJudocard(Judocard)" title="Alterar"></button>
                    <button pButton pRipple icon="fas fa-trash-alt" class="p-button-rounded p-button-danger" (click)="deleteJudocard(Judocard)" title="Excluir"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog [style]="{width: '450px'}" translate="yes">
</p-confirmDialog>