<p-toast></p-toast>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="card" *ngIf="!isLoading">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Novo aluno" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>
    <p-table responsiveLayout="scroll" #dt [value]="Alunos" [rows]="10" [paginator]="true" 
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="AluIdf">Idf <p-sortIcon field="AluIdf"></p-sortIcon></th>
                <th pSortableColumn="AluNome">Nome <p-sortIcon field="AluNome"></p-sortIcon></th>
                <th pSortableColumn="AluFone">Fone <p-sortIcon field="AluFone"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-Aluno>
            <tr class="listaSystem">
                <td>{{Aluno.AluIdf}}</td>
                <td>{{Aluno.AluNome}}</td>
                <td>{{Aluno.AluFone}}</td>
                <td>
                    <button pButton pRipple icon="fas fa-user-edit" class="p-button-rounded p-button-success" (click)="editAluno(Aluno)" title="Alterar"></button>
                    <button *ngIf="Aluno.HasAnamnese" pButton pRipple icon="fas fa-briefcase-medical" class="p-button-rounded" (click)="anamneseAluno(Aluno)" title="Anamnese"></button>
                    <button *ngIf="!Aluno.HasAnamnese" pButton pRipple icon="fas fa-briefcase-medical" class="p-button-rounded p-button-danger" (click)="anamneseAluno(Aluno)" title="Falta Anamnese"></button>
                    <button pButton pRipple icon="fas fa-trash-alt" class="p-button-rounded p-button-warning" (click)="deleteAluno(Aluno)" title="Excluir"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog [style]="{width: '450px'}" translate="yes">
</p-confirmDialog>