input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.floatLeft{
    display: inline-block;
}

fieldset {
  border: 1px solid #999;
}
  
legend {
  display: inline;
  width: auto;
  border: 0;
  padding: 10px;
  margin-bottom: 0px !important;
}

.img {
    max-width: 300px;
    height: 250px;
}

.row{
    margin-bottom: 10px;
}

.filtroCard{
    margin-top: 10px;
}

.botoes{
    margin-top: 20px;
    margin-bottom: 20px;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.erroCard{
    margin-top: 20px;
    color: red;
    text-align: center;
}

.gameCard{

}

.gameCardTop{
    background-color: gold;
    padding: 10px;
    font-weight: bold;
}

.gameCardDesafio{
    background-color:aquamarine ;
    padding: 50px 10px 50px 10px;
    font-size: 30px;
    font-weight: bold;
}

.gameCardDesafioImg
{
    background-color: yellow;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
}

.gameCardImg{
    background-color: rgb(246, 228, 204);
    padding: 10px;
}

.gameCardResp{
    background-color: black;
    color: whitesmoke;
    padding: 10px;
}
