<nav id="left-panel" role="navigation" class="navbar menu-left" >
    <div class="row">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a routerLink="home" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <p-accordion>
                    <p-accordionTab  header="Cadastros">
                        <a routerLink="usuario" routerLinkActive="active" class="nav-link accordion">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span>Usuário</span>
                        </a>
                        <div *ngIf="isAdm">
                            <a routerLink="aluno" routerLinkActive="active" class="nav-link accordion">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                <span>Aluno</span>
                            </a>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </li>
        </ul>
    </div>
</nav>
