<nav id="left-panel" role="navigation" class="navbar menu-left" >
    <div class="row">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a routerLink="home" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <p-panelMenu [model]="items" [style]="{'width':'300px', 'margin-left':'10px'}"></p-panelMenu>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated">
                <a routerLink="quizinit" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <span>Quiz</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated">
                <a href="http://www.yamazakijudo.com.br">
                    <i class="icon-exit" aria-hidden="true"></i>
                    <span>Sair</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
