<p-toast></p-toast>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="yForm card" *ngIf="!isLoading">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Novo evento" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <p-table responsiveLayout="scroll" #dt [value]="Treinos" [rows]="10" [paginator]="true" 
        [rowHover]="true" dataKey="id"
        [globalFilterFields]="['TreTitulo','TreData']">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="TreData">Data <p-sortIcon field="TreData"></p-sortIcon></th>
                <th pSortableColumn="TreTitulo">Titulo <p-sortIcon field="TreTitulo"></p-sortIcon></th>                
                <th></th>
            </tr>
            <tr style="background-color: white;">
                <th class="tredata">
                    <p-columnFilter  type="date" field="TreData"></p-columnFilter>
                </th>
                <th style="align-items: right; width: 30%; margin-left:100px;">
                    <p-columnFilter type="text" field="TreTitulo"></p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-Treino>
            <tr class="listaSystem">
                <td>{{Treino.TreData | date:'dd/MM/yyyy'}}</td>                                
                <td>{{Treino.TreTitulo}}</td>
                <td>
                    <button pButton pRipple icon="fas fa-edit" class="p-button-rounded p-button-success" (click)="editTreino(Treino)" title="Alterar"></button>
                    <button pButton pRipple icon="fab fa-steam-square" class="p-button-rounded p-button-default" (click)="editAtividades(Treino)" title="Atividades"></button>
                    <button pButton pRipple icon="fas fa-user-graduate" class="p-button-rounded p-button-default" (click)="editAlunos(Treino)" title="Alunos"></button>
                    <button pButton pRipple icon="fas fa-trash-alt" class="p-button-rounded p-button-danger" (click)="deleteTreino(Treino)" title="Excluir"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog [style]="{width: '450px'}" translate="yes">
</p-confirmDialog>