<p-toast></p-toast>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<form [formGroup]="dadosForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading" class="yForm">
    <div class="form-group">
        <div class="tituloCadastro">CADASTRO DE EVENTO</div>
        <div><em>*</em> Campo obrigatório</div> 
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <label for="tipo">Tipo</label>
                <p-dropdown id="tipo" [options]="tipos" class="form-control" formControlName="tipo" optionLabel="name" optionValue="code">
                </p-dropdown>
            </div>
            <div class="col-lg-4 col-md-6">
                <em>*</em><label for="data">Data</label>
                <p-calendar class="form-control" formControlName="data" id="data" dateFormat="dd/mm/yy" showTime="true" hourFormat="24"></p-calendar>
            </div>
            <div class="col-lg-4 col-md-6">
                <em>*</em><label for="titulo">Título</label>
                <input type="text" class="form-control" formControlName="titulo" id="titulo" pInputText>
            </div>

            <div class="col-lg-6 col-md-6">
                <em>*</em><label for="responsavel">Responsável</label>
                <input type="text" class="form-control" formControlName="responsavel" id="responsavel" pInputText>
            </div>
            <div class="col-lg-6 col-md-12">
                <label for="obs">Observação</label>
                <textarea rows="5" pInputTextarea id="obs" class="form-control" formControlName="obs"></textarea>                
            </div>
        </div>
        <div class="row editButtonSystem">            
            <div class="floatLeft col-sm-1">
                <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!dadosForm.valid" *ngIf="!editMode">Salvar</button>
                <button
                  type="submit"
                  class="floatLeft btn btn-success"
                  [disabled]="!dadosForm.valid" *ngIf="editMode">Alterar</button>
            </div>       
            <div class="floatLeft col-sm-1">
                <button
                type="button"
                class="btn btn-danger"
                (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
  </form>