
.row
{
    margin-bottom: 40px;
}


input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.floatLeft{
    display: inline-block;
}

.tredata{
    width: auto !important;
    position: absolute !important;
    z-index: 2900 !important;
}