<p-toast></p-toast>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<form [formGroup]="dadosForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <div class="form-group">
        <div class="tituloCadastro">CADASTRO DE ATIVIDADE NO EVENTO {{Param.TreTitulo}} de {{Param.Data}}</div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <label for="ordem">Ordem</label>
                <input type="number" class="form-control" formControlName="ordem" id="ordem" pInputText>
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="atv">Atvidade</label>
                 <p-dropdown id="atv" [options]="atvs" class="form-control" formControlName="atv" optionLabel="name" optionValue="code">
                </p-dropdown>
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="repeticao">Repetições</label>
                <input type="text" class="form-control" formControlName="repeticao" id="repeticao" pInputText>
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="minutos">Tempo (minutos)</label>
                <input type="number" class="form-control" formControlName="minutos" id="minutos" pInputText>
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="obs">Observação</label>
                <textarea rows="5" pInputTextarea id="obs" class="form-control" formControlName="obs"></textarea>                
            </div>
        </div>
        <div class="row editButtonSystem">            
            <div class="floatLeft col-sm-1">
                <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!dadosForm.valid" *ngIf="!editMode">Salvar</button>
                <button
                  type="submit"
                  class="floatLeft btn btn-success"
                  [disabled]="!dadosForm.valid" *ngIf="editMode">Alterar</button>
            </div>       
            <div class="floatLeft col-sm-1">
                <button
                type="button"
                class="btn btn-danger"
                (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
  </form>