<p-toast></p-toast>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="card" *ngIf="!isLoading">
    <h1 class="tituloLista">{{Param.TreTitulo}} do dia {{Param.Data}}</h1>
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nova Atividade" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button style="margin-left: 5px;" pButton pRipple label="Retornar" icon="pi pi-arrow-left" class="p-button-default" (click)="retornar()"></button>
        </ng-template>
    </p-toolbar>

    <p-table responsiveLayout="scroll" #dt [value]="Treinoatvs" 
        dataKey="TreAtvItem" editMode="row"
        [rowHover]="true"
        [rows]="10" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="TreAtvOrdem">Ordem <p-sortIcon field="TreAtvOrdem"></p-sortIcon></th>
                <th pSortableColumn="TreAtvDesc">Descrição <p-sortIcon field="TreAtvDesc"></p-sortIcon></th>
                <th>Tempo</th>
                <th style="width:8rem"></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-Treinoatv let-editing="editing" let-ri="rowIndex">
            <tr class="listaSystem" [pEditableRow]="Treinoatv">
                <!-- <td>{{Treinoatv.TreAtvOrdem}}</td> -->
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="Treinoatv.TreAtvOrdem">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{Treinoatv.TreAtvOrdem}}
                        </ng-template>
                    </p-cellEditor>
                </td>   
                <td>{{Treinoatv.TreAtvDesc}}</td>
                <!-- <td>{{Treinoatv.TreAtvMin}}</td> -->
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="Treinoatv.TreAtvMin">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{Treinoatv.TreAtvMin}}
                        </ng-template>
                    </p-cellEditor>
                </td>    
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(Treinoatv)" class="p-button-rounded p-button-text" title="Alterar ordem e tempo"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(Treinoatv)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(Treinoatv, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </td>            
                <td>
                    <button pButton pRipple icon="fas fa-edit" class="p-button-rounded p-button-success" (click)="editTreinoatv(Treinoatv)" title="Alterar"></button>
                    <button pButton pRipple icon="fas fa-trash-alt" class="p-button-rounded p-button-warning" (click)="deleteTreinoatv(Treinoatv)" title="Excluir"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td>{{totalAtividadesTxt}}</td>
                <td></td>
                <td>{{totalTempoTxt}}</td>
                <td></td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog [style]="{width: '450px'}" translate="yes">
</p-confirmDialog>