<p-toast></p-toast>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner3></app-loading-spinner3>
</div>
<form [formGroup]="dadosForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <div class="form-group">
        <div class="tituloCadastro">CADASTRO DE CARD - GAMEBOARD</div>
        <div style="margin-bottom: 20px;">
            <fieldset>
                <legend>Imagem</legend>
                <div class="col-lg-6 col-md-6">
                    <label for="imgatual">Atual</label>
                    <div>
                        <img class="img" [src]="JudocardImg" alt="Imagem">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label for="imagem">Nova</label>
                    <p-fileUpload 
                        name="myFile[]" 
                        customUpload="true" 
                        (uploadHandler)="myUploader($event)" 
                        (onRemove)="remove()"
                        (onClear)="remove()"
                        accept="image/*" 
                        chooseLabel="Selecionar"
                        cancelLabel="Cancelar"
                        maxFileSize="524288"
                        [auto]="true"
                        invalidFileSizeMessageSummary="{0}: Tamanho da imagem inválido, "
                        invalidFileSizeMessageDetail="tamanho máximo é {0}."                   
                        >
                    </p-fileUpload>
                </div>
            </fieldset>
        </div>                    

        <div><em>*</em> Campo obrigatório</div> 
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <em>*</em><label for="desafio">Pergunta</label>
                <input type="text" class="form-control" formControlName="desafio" id="desafio" pInputText>
            </div>
            <div class="col-lg-4 col-md-4">
                <em>*</em><label for="cat">Categoria</label>
                <p-dropdown id="cat" [options]="categorias" class="form-control" formControlName="categoria" optionLabel="name" optionValue="code">
                </p-dropdown>
            </div>
            <div class="col-lg-4 col-md-4">
                <em>*</em><label for="clas">Classe</label>
                <p-dropdown id="clas" [options]="classes" class="form-control" formControlName="classe" optionLabel="name" optionValue="code">
                </p-dropdown>
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="resposta">Card IDF</label>
                <input type="number" class="form-control" formControlName="cardidf" id="cardidf" pInputText>
            </div>
            <div class="col-lg-12 col-md-12">
                <em>*</em><label for="resposta">Resposta</label>
                <input type="text" class="form-control" formControlName="resposta" id="resposta" pInputText>
            </div>
        </div>
        <div class="row editButtonSystem">            
            <div class="floatLeft col-sm-1">
                <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!dadosForm.valid" *ngIf="!editMode">Salvar</button>
                <button
                  type="submit"
                  class="floatLeft btn btn-success"
                  [disabled]="!dadosForm.valid" *ngIf="editMode">Alterar</button>
            </div>       
            <div class="floatLeft col-sm-1">
                <button
                type="button"
                class="btn btn-danger"
                (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
  </form>