<p-toast></p-toast>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="tituloCadastro">CADASTRO DE CARDS - GAMEBOARD</div>

<div class="card" *ngIf="!isLoading">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Novo CARD" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>
    <p-table responsiveLayout="scroll" #dt [value]="Judocards" [rows]="20" [paginator]="true" 
        [rowHover]="true" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Idf">Idf <p-sortIcon field="Idf"></p-sortIcon></th>
                <th pSortableColumn="CatDes">Categoria <p-sortIcon field="CatDes"></p-sortIcon></th>
                <th pSortableColumn="CardIdf">Card IDF <p-sortIcon field="CardIdf"></p-sortIcon></th>
                <th pSortableColumn="ClasDes">Classe <p-sortIcon field="ClasDes"></p-sortIcon></th>
                <th pSortableColumn="Desafio">Desafio <p-sortIcon field="Desafio"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-Judocard>
            <tr class="listaSystem">
                <td>{{Judocard.Idf}}</td>
                <td>{{Judocard.CatDes}}</td>                
                <td>{{Judocard.CardIdf}}</td>                
                <td>{{Judocard.ClasDes}}</td>                
                <td>{{Judocard.Desafio}}</td>                
                <td>
                    <button pButton pRipple icon="fas fa-edit" class="p-button-rounded p-button-success" (click)="editJudocard(Judocard)" title="Alterar"></button>
                    <button pButton pRipple icon="fas fa-trash-alt" class="p-button-rounded p-button-danger" (click)="deleteJudocard(Judocard)" title="Excluir"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog [style]="{width: '450px'}" translate="yes">
</p-confirmDialog>