.mostracoluna{
    display: block; 
}

.tituloLista{
    background-color: rgb(194, 245, 200);
    color: rgb(11, 1, 20);
}

.tituloCadastro{
    background-color: rgb(194, 245, 200);
    color: rgb(11, 1, 20);
}

.transparente{
    background-color: transparent;
}

.yForm {
    min-height: 550px;
}


@media screen and (max-width: 800px) {
   .listaSystem td {
        white-space: nowrap;
        display: table-cell !important;
    }

    .listaSystem button {
        display: inline-block;
    }

    .editButtonSystem {
        display: flex;
    }
} 