<p-toast></p-toast>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner2></app-loading-spinner2>
</div>
<p-confirmPopup></p-confirmPopup>

<div class="divSugestoes" *ngIf="!isLoading">
    <div class="tituloCadastro">ASSUNTOS</div>
    <p-dataView [value]="Sugestoes">
        <ng-template let-msg pTemplate="listItem">
            <div class="itemMsg">
                <div style="display: inline;" class="itemCab">{{msg.MsgNome}} - {{msg.DataInc | date : 'dd/MM/yyyy HH:mm'}}</div>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a (click)="confirm($event,msg)" title="excluir assunto" *ngIf="msg.MsgEmail == UsuEmail || perfil == 'A'">
                    <i style="color: red;" class="fas fa-trash-alt" aria-hidden="true">&nbsp;&nbsp;</i>
                </a>
                <a (click)="comentar(msg)" title="comentar assunto">
                    <i style="color: rgb(53, 19, 202);" class="far fa-comment-alt" aria-hidden="true"></i>
                </a>
                <div [innerHtml]="msg.MsgTexto"></div>
            </div>
            <p-dataView [value]="msg.comentarios" *ngIf="msg.comentarios.length > 0">
                <ng-template let-comentario pTemplate="listItem">
                    <div class="itemMsgComentario">
                        <div style="display: inline;" class="itemCabComentario">{{comentario.MsgNome}} - {{comentario.DataInc | date : 'dd/MM/yyyy HH:mm'}}</div>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <a (click)="confirmComentario($event,comentario)" title="excluir comentário" *ngIf="comentario.MsgEmail == UsuEmail">
                            <i style="color: red;" class="fas fa-trash-alt" aria-hidden="true">&nbsp;&nbsp;</i>
                        </a>
                        <div [innerHtml]="comentario.MsgTexto"></div>
                    </div>
                </ng-template>
            </p-dataView>

        </ng-template>
    </p-dataView>
</div>

<form [formGroup]="dadosForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <hr>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <label for="texto">Novo assunto</label>
                <p-editor id="texto" formControlName="texto" [style]="{'height':'70px'}">
                    <ng-template pTemplate="header">
                        <span class="ql-formats">
                            <button type="button" class="ql-bold" aria-label="Bold"></button>
                            <button type="button" class="ql-italic" aria-label="Italic"></button>
                            <button type="button" class="ql-underline" aria-label="Underline"></button>
                        </span>
                    </ng-template>
                </p-editor>
            </div>
        </div>
        <div class="row editButtonSystem">            
            <div class="floatLeft col-sm-1">
                <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!dadosForm.valid">Enviar</button>
            </div>  
            <div class="floatLeft col-sm-1">
                  <button
                  type="button"
                  class="btn btn-success" (click)="carregaDados()" >Atualizar</button>
            </div>  
        </div>
    </div>
</form>

<p-dialog header="Comentar" [(visible)]="displayModal" [modal]="true" [style]="{width: '80vw'}"
  [draggable]="false" [resizable]="false">
    <p-editor id="comentario" [(ngModel)]="MsgTexto" [style]="{'height':'100px'}">
        <ng-template pTemplate="header">
            <span class="ql-formats">
                <button type="button" class="ql-bold" aria-label="Bold"></button>
                <button type="button" class="ql-italic" aria-label="Italic"></button>
                <button type="button" class="ql-underline" aria-label="Underline"></button>
            </span>
        </ng-template>
    </p-editor>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false; salvarComentario();" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

