.form-group{
    padding: 10px;
}
.row
{
    margin-bottom: 40px;
}

.form-group .row label
{
    padding-top: 10px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.floatLeft{
    display: inline-block;
}

.itemMsg{
    padding: 10px;
}

.itemMsg:nth-child(even) {
    background: rgb(209, 231, 195);
}

.itemMsgComentario{
    padding: 10px 10px 10px 50px;
}

.itemCabComentario{
    color: rgb(7, 180, 7);
}

hr {
    height: 3px;
    background-color: black;
    margin-bottom: 0px;
}

.itemCab{
    color: blue;
}

.divSugestoes{
    max-height: 350px;
    overflow: scroll;
}

@media screen and (max-width: 800px){
    .divSugestoes{
        max-height: 250px;
    }
}