<p-toast></p-toast>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <span class="p-float-label">
                    <input type="text" class="form-control" formControlName="email" id="email" pInputText readonly>
                    <label for="email">Email</label>
                </span>
            </div>
            <div class="col-md-3">
                <span class="p-float-label">
                    <p-inputMask formControlName="cpf" id="CPF" mask="999.999.999-99" ></p-inputMask>
                    <label for="cpf">CPF</label>
                </span>
            </div>
            <div class="col-md-3">
                <span class="p-float-label">
                    <input type="text" class="form-control" formControlName="nome" id="nome" pInputText>
                    <label for="nome">Nome</label>
                </span>
            </div>
            <div class="col-md-3">
                <span class="p-float-label">
                    <p-dropdown id="perfil" [options]="perfis" 
                    formControlName="perfil" optionLabel="name" 
                    optionValue="code"  [readonly]="!isAdm">
                    </p-dropdown>
                    <label for="perfil">Perfil</label>  
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!userForm.valid" *ngIf="!editMode">Salvar</button>
                  <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!userForm.valid" *ngIf="editMode">Alterar</button>
            </div>       
        </div>
    </div>
  </form>