<h1>usuario</h1>
<form>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                <input class="form-control" data-inputmask="'alias': 'currency'" style="text-align: right;">
            </div>
            <div class="col-md-6">
                <label for="formGroupExampleInput2">Another label</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
            </div>
        </div>
    </div>
  </form>