/* You can add global styles to this file, and also import other style files */
@import  "../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css"; 
@import  "../node_modules/primeng/resources/primeng.min.css";
@import  "../node_modules/primeicons/primeicons.css";
@import "./assets/css/normalize.css";
@import "./assets/css/nsystem.css";
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";
@import "../node_modules/icomoon/style.css";

body:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ced3d8;
    z-index: -1;
}

h1, h2{
    text-align: center;
}

.conteudo {
    margin-left: 40px; 
    /* padding: 10px 10px 60px; */
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}

.p-inputtext {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

@media screen and (min-width: 800px) {
    .conteudo {
        margin-left: 150px; 
        /* padding: 10px 10px 60px; */
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow: hidden;
    }
  } 
