<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner2></app-loading-spinner2>
</div>

<full-calendar #calendar [options]="calendarOptions" *ngIf="!isLoading"></full-calendar>

<p-dialog [(header)]="title" [(visible)]="display" modal=true [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <p-table [value]="listaAtv" responsiveLayout="scroll"  class="atividades">
        <ng-template pTemplate="header">
            <tr>
                <th>Atividades</th>
                <th>Tempo</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-atividade>
            <tr class="listaSystem">
                <td>{{atividade.descricao}}</td>
                <td>{{atividade.tempo}}</td>
                <td style="text-align: right !important;">
                    <button pButton icon="fas fa-info" class="p-button-default" (click)="verDetalhe(atividade)" title="Detalhe" style="font-size: smaller;"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="listaParticipantes();" label="Participantes" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="checkin();" label="Check-in" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
 
<p-dialog [(header)]="titleAtv" [(visible)]="displayAtv" [modal]="true">
    <div class="descAtividade">
        <div><b>Objetivo:</b> {{itemAtv.AtvObjetivo}}</div>
        <div><b>Execução:</b></div>
        <div [innerHtml]="itemAtv.AtvDescricao"></div>
    </div>
</p-dialog>

<p-dialog header="Checkin" [(visible)]="displayCheckin" [modal]="true">
    <p-dropdown [options]="alunos" [(ngModel)]="selectedAluno" placeholder="Selecione o aluno" optionLabel="name" [showClear]="true"></p-dropdown>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="checkinOk();" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Participantes" [(visible)]="displayParticipantes" [modal]="true">
    <div class="divListaAlunos">
        <p-table [value]="alunos" responsiveLayout="scroll" class="atividades">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-aluno  let-i="rowIndex" >
                <tr class="listaSystem">
                    <td>{{i+1}}</td>
                    <td>{{aluno.name}}</td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="participantesOk();" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </div>
</p-dialog>
 
 