<div class="principal">
    <div class="minDisplay">
        <div *ngIf="isAuthenticated">
            <div class="row" style="text-align: right; margin-right: 10px;">
                <button class="btn btn-primary botaoMenu" type="button" style="font-size: smaller;" title="Cadastro de Aluno" routerLink='alunolista'>
                    <i class='fas fa-user-graduate'></i>
                </button>
                <button class="btn btn-primary botaoMenu" type="button" style="font-size: smaller;" title="Check-in" routerLink='checkin'>
                    <i class='fas fa-check'></i>
                </button>
                <button class="btn btn-primary botaoMenu" type="button" style="font-size: smaller;" title="Alterar Senha"  routerLink='alter'>
                    <i class='fa fa-key'></i>
                </button>
                <button class="btn btn-primary botaoMenu" type="button" style="font-size: smaller; "title="Sair" (click)="logout()">
                    <i class='icon-exit'></i>
                </button>
            </div>
        </div>
        <div *ngIf="!isAuthenticated">
            <div class="row">
                <button class="btn btn-primary botaoMenu" type="button" style="font-size: smaller;" title="Login" routerLink='auth'>
                    <i class='fa fa-sign-in'>&nbsp;&nbsp;Acessar</i>
                </button>
            </div>
        </div>
        <hr>    
    </div>        
    <h1>SISTEMA CONTROLE DE ACADEMIA<br/>versão 1.00</h1>
    <div>
        <img src = "../../assets/image/logo.png"/>
    </div>    
    <div class="rodape">
        <a href="http://www.jknoda.com.br" target="_blank" title="www.jknoda.com.br">by jknoda</a>
    </div>
</div>

